<h1>Calculator</h1>

<form action="result" method="get">
  <label for="numl">First Number</label>
  <input type="number" name="num1" id="num1" />
  <br />
  <br />
  <select name="oprator" id="oprator">
    <option value="plus">Plus (+)</option>
    <option value="minus">Minus (-)</option>
    <option value="mutiply">Mutiply (x)</option>
    <option value="divide">Divide (/)</option>
  </select>
  <br />
  <br />
  <label for="num2">Second Number</label>
  <input type="number" name="num2" id="num2" />
  <br />
  <br />
  <button type="submit">Calculate</button>
</form>
