{% extends 'base.html' %} {% block title %}This Is The Home Page{% endblock %}
{% block header %}
{% endblock %} {%   block content %}
{% load static %}
<h1>Header</h1> 
<center>
  <b> Logged in as {{user | upper}} </b>
  <p>Total Point = {{totalPoint}}</p>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, iste
    alias amet aut excepturi aspernatur, placeat porro tempora, et est optio
    ullam. Fugiat quam, unde doloribus illo enim cumque consectetur.
  </p>
</center>
<img src="{% static '114070063.jpeg' %}" width="400" height="500" alt="An Image">
{% endblock %} {% block footer %}
<center>
  <h1>Footer</h1>
</center>
{% endblock %}
