<h1>Create A New USer</h1>
{% for message in messages %}

<span style="color: red; font-weight: bold;"> {{ message }} </span>

{% endfor %}
<form action="" method="post">
  {% csrf_token %}
  <label for="name">name</label>
  <input type="text" name="name" id="name" />
  <br />
  <br />
  <label for="email">emai</label>
  <input type="email" name="email" id="email" />
  <br />
  <br />
  <label for="password">password</label>
  <input type="password" name="password" id="password" />
  <br />
  <br />
  <label for="confirmpassword">confirm password</label>
  <input type="password" name="confirmpassword" id="confirmpassword" />
  <br />
  <br />
  <button type="submit">Create New User</button>
</form>
